.container.min-h-screen.mx-auto.pt-5.pb-28.px-5.flex.h-screen
  .min-w-full.flex.flex-row
    %nav.border-r.border-red-100.mr-4{ class: "w-1/3" }
      = render "form"

      = render 'snapshots/form'

      = turbo_stream_from "snapshots"
      %ul#snapshots
        = render @snapshots

    .overflow-y-scroll.h-full.flex-grow
      .flex.flex-col.justify-end.min-h-full
        .flex-col.flex.justify-end.mr-4.flex-grow
          = turbo_stream_from "messages"
        #messages
          = render @messages
    .h-full.flex-grow
