%head
  %title Wall
  %meta{ content: "width=device-width,initial-scale=1", name: "viewport" }
  = action_cable_meta_tag
  = csrf_meta_tags
  = csp_meta_tag
  -# = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
  %script{src: "https://cdn.tailwindcss.com"}
  = stylesheet_link_tag "application", "data-turbo-track": "reload"
  = javascript_importmap_tags
%body
  %nav.bg-gray-800
    .max-w-7xl.mx-auto.px-4.sm:px-6.lg:px-8
      .flex.items-center.justify-center.h-16
        .flex-shrink-0
          %a.text-white.font-bold.text-xl{:href => "#"} The Wall
  %main.container.mx-auto.px-5.flex
    = yield
