%head
  %title Wall
  %meta{ content: "width=device-width,initial-scale=1", name: "viewport" }
  = action_cable_meta_tag
  = csrf_meta_tags
  = csp_meta_tag
  -# = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
  %script{src: "https://cdn.tailwindcss.com"}
  = stylesheet_link_tag "application", "data-turbo-track": "reload"
  = javascript_importmap_tags
%body
  %nav.bg-gray-800
    .max-w-7xl.mx-auto.px-4.sm:px-6.lg:px-8
      .flex.items-center.justify-between.h-16
        .flex-shrink-0
          %a.text-white.font-bold.text-xl{:href => "#"} Wall
        .hidden.md:block
          .ml-10.flex.items-center.space-x-4
            %a.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.font-medium{:href => "#"} Home
            %a.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.font-medium{:href => "#"} About
            %a.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.font-medium{:href => "#"} Services
            %a.text-gray-300.hover:bg-gray-700.hover:text-white.px-3.py-2.rounded-md.font-medium{:href => "#"} Contact
        .-mr-2.flex.md:hidden
          %button.bg-gray-800.inline-flex.items-center.justify-center.p-2.rounded-md.text-gray-400.hover:text-white.hover:bg-gray-700.focus:outline-none.focus:bg-gray-700.focus:text-white.transition.duration-150.ease-in-out{"aria-expanded" => "false", "aria-label" => "Main menu", :type => "button"}
            %svg.h-6.w-6{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24"}
              %path{:d => "M4 6h16M4 12h16M4 18h16", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
    .hidden.md:hidden
      .px-2.pt-2.pb-3.sm:px-3
        %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.px-3.py-2.rounded-md.font-medium{:href => "#"} Home
        %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.px-3.py-2.rounded-md.font-medium{:href => "#"} About
        %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.px-3.py-2.rounded-md.font-medium{:href => "#"} Services
        %a.text-gray-300.hover:bg-gray-700.hover:text-white.block.px-3.py-2.rounded-md.font-medium{:href => "#"} Contact
  %main.container.mx-auto.px-5.flex
    = yield
